// Bulma
@import "~bulma/bulma";
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.box {
    margin-top: 5rem;
}
.avatar img {
    width:30%;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.has-large-background{
    background-image: url(/img/bkg.jpg?v=1);
    background-size: cover;
}