// Bootstrap
$body-size: 14px;
@import "~bulma/bulma";
.im-sidebar{
    padding:1.5rem;
}
.full-height-column{
	height:100vh;
	max-height: 100vh;
	overflow:scroll;
}
table{
	font-size:11px;
}
.is-grey{
    background-color: lighten(silver,15);
}
#output{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:794px;
    height:1123px;
    padding:2.5em;
    margin:1em auto;
    border:1px solid silver;
    @media print {
        display:block;border:none;
    }
}
#contact-info{
    text-align:center;
    font-style:italic;
}

@media print {
    .no-print{
        display:none;
    }
    #printable, #output{
        width:25cm;
        height:20cm;
    }
    .section{
        padding:0;
    }
    @page {
      margin: 2cm;
   }
}